<div class="container-fluid">
    <header class="row d-flex align-items-end bg-light p-2" >
        <div class="row">
            <img class="col-3" src="DTM-logo.png" alt="dtm_logo" >
            <div class="col-9">
                <div class="row d-flex justify-content-center">
                    <div class="col-9 mt-3 align-items-center text-center">
                        <h4 class="">Diseño y Transformaciones Metálicas S. de R.L. de C.V.</h4>
                        <p style="font-family:Arial;font-size:10px">C.Retorno Pablo Neruda No. 101, Complejo Industrial Chihuahua, C.P. 31136<br>
                            Chihuahua. Chih.</p>
                    </div>

                </div>
            </div>

        </div>
        <nav class="row navbar navbar-expand-lg bg-primary" style="height: 4vh;"> 
            <div class="container-fluid">     
                <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
                    <div class="navbar-nav justify-content-around w-100 ">
                        <a class="nav-link text-light" href="">Home</a>
                        <a class="nav-link text-light" href="/almacen">Proceso</a>                        
                        <a class="nav-link text-light" href="/almacen/bitacoras">Bitacoras.</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main class="container-fluid d-flex justify-content-center" >
        <!-- <img src="almacen/MAPEO DEL PROCESO DE ALMACEN1.jpg" alt="ventas" class="d-block" style="width:60%"> -->
    </main>

    
</div>