<div class="container-fluid">
    <header class="row d-flex align-items-end bg-light p-2" >
        <div class="row">
            <img class="col-3" src="DTM-logo.png" alt="dtm_logo" >
            <div class="col-9">
                <div class="row d-flex justify-content-center">
                    <div class="col-9 mt-3 align-items-center text-center">
                        <h4 class="">Diseño y Transformaciones Metálicas S. de R.L. de C.V.</h4>
                        <p style="font-family:Arial;font-size:10px">C.Retorno Pablo Neruda No. 101, Complejo Industrial Chihuahua, C.P. 31136<br>
                            Chihuahua. Chih.</p>
                    </div>

                </div>
            </div>

        </div>
        <nav class="row navbar navbar-expand-lg bg-primary" style="height: 4vh;"> 
            <div class="container-fluid">     
                <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
                    <div class="navbar-nav justify-content-around w-100 ">
                        <a class="nav-link text-light" href="">Home</a>
                        <a class="nav-link text-light active" href="/direccion">Dirección</a>
                        <a class="nav-link text-light" href="direccion/formatos">Formato de Presentación</a>
                        <a class="nav-link text-light" href="direccion/formatos/minutas">Minuta de Juntas</a>                      
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main class="container-fluid text-center" >
        <a href="public/direccion/formatos/formato_de_presentación.pptx" download class="btn btn-warning m-2 fa-light fa-file-powerpoint" >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filetype-pptx" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M14 4.5V11h-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5zM1.5 11.85h1.6q.434 0 .732.179.302.175.46.477t.158.677-.16.677q-.159.299-.464.474a1.45 1.45 0 0 1-.732.173H2.29v1.342H1.5zm2.06 1.714a.8.8 0 0 0 .085-.381q0-.34-.185-.521-.185-.182-.513-.182h-.659v1.406h.66a.8.8 0 0 0 .374-.082.57.57 0 0 0 .238-.24m1.302-1.714h1.6q.434 0 .732.179.302.175.46.477t.158.677-.16.677q-.158.299-.464.474a1.45 1.45 0 0 1-.732.173h-.803v1.342h-.79zm2.06 1.714a.8.8 0 0 0 .085-.381q0-.34-.185-.521-.184-.182-.513-.182H5.65v1.406h.66a.8.8 0 0 0 .374-.082.57.57 0 0 0 .238-.24m2.852 2.285v-3.337h1.137v-.662H7.846v.662H8.98v3.337zm3.796-3.999h.893l-1.274 2.007 1.254 1.992h-.908l-.85-1.415h-.035l-.853 1.415h-.861l1.24-2.016-1.228-1.983h.931l.832 1.439h.035z"/>
            </svg>
            Descargar
          </a>

         <div class="row d-flex justify-content-center">
            <div id="demo" class="carousel slide "  style="width: 60%;" data-bs-ride="carousel">
  
                <!-- Indicators/dots -->
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active" style="filter: invert(1);"></button>
                  <button type="button" data-bs-target="#demo" data-bs-slide-to="1" style="filter: invert(1);"></button>
                  <button type="button" data-bs-target="#demo" data-bs-slide-to="2" style="filter: invert(1);"></button>
                  <button type="button" data-bs-target="#demo" data-bs-slide-to="3" style="filter: invert(1);"></button>
                  <button type="button" data-bs-target="#demo" data-bs-slide-to="4" style="filter: invert(1);"></button>
                  <button type="button" data-bs-target="#demo" data-bs-slide-to="5" style="filter: invert(1);"></button>
                  <button type="button" data-bs-target="#demo" data-bs-slide-to="6" style="filter: invert(1);"></button>
                  <button type="button" data-bs-target="#demo" data-bs-slide-to="7" style="filter: invert(1);"></button>
                  <button type="button" data-bs-target="#demo" data-bs-slide-to="8" style="filter: invert(1);"></button>
                  <button type="button" data-bs-target="#demo" data-bs-slide-to="9" style="filter: invert(1);"></button>
                  <button type="button" data-bs-target="#demo" data-bs-slide-to="10" style="filter: invert(1);"></button>
                  <button type="button" data-bs-target="#demo" data-bs-slide-to="11" style="filter: invert(1);"></button>
                  <button type="button" data-bs-target="#demo" data-bs-slide-to="12" style="filter: invert(1);"></button>
                  <button type="button" data-bs-target="#demo" data-bs-slide-to="13" style="filter: invert(1);"></button>
                  <button type="button" data-bs-target="#demo" data-bs-slide-to="14" style="filter: invert(1);"></button>
                  <button type="button" data-bs-target="#demo" data-bs-slide-to="15" style="filter: invert(1);"></button>
                  <button type="button" data-bs-target="#demo" data-bs-slide-to="16" style="filter: invert(1);"></button>
                  <button type="button" data-bs-target="#demo" data-bs-slide-to="17" style="filter: invert(1);"></button>
                  <button type="button" data-bs-target="#demo" data-bs-slide-to="18" style="filter: invert(1);"></button>
                  <button type="button" data-bs-target="#demo" data-bs-slide-to="19" style="filter: invert(1);"></button>
                  <button type="button" data-bs-target="#demo" data-bs-slide-to="20" style="filter: invert(1);"></button>
                  <button type="button" data-bs-target="#demo" data-bs-slide-to="21" style="filter: invert(1);"></button>
                  <button type="button" data-bs-target="#demo" data-bs-slide-to="22" style="filter: invert(1);"></button>
                  <button type="button" data-bs-target="#demo" data-bs-slide-to="23" style="filter: invert(1);"></button>
                  
                </div>
                
                <!-- The slideshow/carousel -->
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="direccion/formatos/slides/Diapositiva1.JPG" alt="Diapositiva1" class="d-block" style="width:100%">                
                  </div>
                  <div class="carousel-item">
                    <img src="direccion/formatos/slides/Diapositiva2.JPG" alt="Diapositiva2" class="d-block" style="width:100%">                
                  </div>
                  <div class="carousel-item">
                    <img src="direccion/formatos/slides/Diapositiva3.JPG" alt="Diapositiva3" class="d-block" style="width:100%">                
                  </div>
                  <div class="carousel-item">
                    <img src="direccion/formatos/slides/Diapositiva4.JPG" alt="Diapositiva4" class="d-block" style="width:100%">                
                  </div>
                  <div class="carousel-item">
                    <img src="direccion/formatos/slides/Diapositiva5.JPG" alt="Diapositiva5" class="d-block" style="width:100%">                
                  </div>
                  <div class="carousel-item">
                    <img src="direccion/formatos/slides/Diapositiva6.JPG" alt="Diapositiva6" class="d-block" style="width:100%">                
                  </div>
                  <div class="carousel-item">
                    <img src="direccion/formatos/slides/Diapositiva7.JPG" alt="Diapositiva7" class="d-block" style="width:100%">                
                  </div>
                  <div class="carousel-item">
                    <img src="direccion/formatos/slides/Diapositiva8.JPG" alt="Diapositiva8" class="d-block" style="width:100%">                
                  </div>
                  <div class="carousel-item">
                    <img src="direccion/formatos/slides/Diapositiva9.JPG" alt="Diapositiva9" class="d-block" style="width:100%">                
                  </div>
                  <div class="carousel-item">
                    <img src="direccion/formatos/slides/Diapositiva10.JPG" alt="Diapositiva10" class="d-block" style="width:100%">                
                  </div>
                  <div class="carousel-item">
                    <img src="direccion/formatos/slides/Diapositiva11.JPG" alt="Diapositiva11" class="d-block" style="width:100%">                
                  </div>
                  <div class="carousel-item">
                    <img src="direccion/formatos/slides/Diapositiva12.JPG" alt="Diapositiva12" class="d-block" style="width:100%">                
                  </div>
                  <div class="carousel-item">
                    <img src="direccion/formatos/slides/Diapositiva13.JPG" alt="Diapositiva13" class="d-block" style="width:100%">                
                  </div>
                  <div class="carousel-item">
                    <img src="direccion/formatos/slides/Diapositiva14.JPG" alt="Diapositiva14" class="d-block" style="width:100%">                
                  </div>
                  <div class="carousel-item">
                    <img src="direccion/formatos/slides/Diapositiva15.JPG" alt="Diapositiva15" class="d-block" style="width:100%">                
                  </div>
                  <div class="carousel-item">
                    <img src="direccion/formatos/slides/Diapositiva16.JPG" alt="Diapositiva16" class="d-block" style="width:100%">                
                  </div>
                  <div class="carousel-item">
                    <img src="direccion/formatos/slides/Diapositiva17.JPG" alt="Diapositiva17" class="d-block" style="width:100%">                
                  </div>
                  <div class="carousel-item">
                    <img src="direccion/formatos/slides/Diapositiva18.JPG" alt="Diapositiva18" class="d-block" style="width:100%">                
                  </div>
                  <div class="carousel-item">
                    <img src="direccion/formatos/slides/Diapositiva19.JPG" alt="Diapositiva19" class="d-block" style="width:100%">                
                  </div>
                  <div class="carousel-item">
                    <img src="direccion/formatos/slides/Diapositiva20.JPG" alt="Diapositiva20" class="d-block" style="width:100%">                
                  </div>
                  <div class="carousel-item">
                    <img src="direccion/formatos/slides/Diapositiva21.JPG" alt="Diapositiva21" class="d-block" style="width:100%">                
                  </div>
                  <div class="carousel-item">
                    <img src="direccion/formatos/slides/Diapositiva22.JPG" alt="Diapositiva22" class="d-block" style="width:100%">                
                  </div>
                  <div class="carousel-item">
                    <img src="direccion/formatos/slides/Diapositiva23.JPG" alt="Diapositiva23" class="d-block" style="width:100%">                
                  </div>
                  
                </div>
                
                <!-- Left and right controls/icons -->
                <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" style="filter: invert(1);"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                  <span class="carousel-control-next-icon" style="filter: invert(1);"></span>
                </button>
              </div>
         </div>

    </main>

    
</div>