<div class="container-fluid">
    <header class="row d-flex align-items-end bg-light p-2" >
        <div class="row">
            <img class="col-3" src="DTM-logo.png" alt="dtm_logo" >
            <div class="col-9">
                <div class="row d-flex justify-content-center">
                    <div class="col-9 mt-3 align-items-center text-center">
                        <h4 class="">Diseño y Transformaciones Metálicas S. de R.L. de C.V.</h4>
                        <p style="font-family:Arial;font-size:10px">C.Retorno Pablo Neruda No. 101, Complejo Industrial Chihuahua, C.P. 31136<br>
                            Chihuahua. Chih.</p>
                    </div>

                </div>
            </div>

        </div>
        <nav class="row navbar navbar-expand-lg bg-primary" style="height: 8vh;"> 
             <div class="container-fluid">  
                <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup" style="flex-direction: column;">
                    <div class="navbar-nav  w-100 d-flex flex-wrap justify-content-center">
                        <a class="nav-link text-light" href="">Home</a>
                        <a class="nav-link text-light active" href="/sgc">SGC</a>
                        <a class="nav-link text-light" href="/sgc/documentos">FODA</a>
                        <a class="nav-link text-light" href="/sgc/documentos/politicadalidad">Política de Calidad</a>
                        <a class="nav-link text-light" href="/sgc/documentos/objetivoscalidad">Objetivos de Calidad</a>
                        <a class="nav-link text-light" href="/sgc/documentos/misionvision">Misión y Visión</a>
                        <a class="nav-link text-light" href="/sgc/documentos/alcansesgc">Alcance SGC</a>                                        
                    </div>
                    <div class="navbar-nav  w-100 d-flex flex-wrap justify-content-center">
                       
                        <a class="nav-link text-light" href="/sgc/documentos/interaccionprocesosgc">Interacción de Procesos del SGC</a>
                        <a class="nav-link text-light" href="/sgc/documentos/matrizcomunicacion">Matriz de Comunicación</a>
                        <a class="nav-link text-light" href="/sgc/documentos/organigrama">Organigrama VERSION 06 (03-31-25)</a>
                        <a class="nav-link text-light" href="/sgc/documentos/matrizpartes">Matriz de Partes Interesadas</a>
                        <a class="nav-link text-light" href="/sgc/documentos/matrizindicadores">Matriz de Indicadores</a>                     
                    </div>
                   
                </div>
            </div>
           
        </nav>
    </header>
    <main class="container-fluid d-flex justify-content-center" >
        <img src="sgc/documentosinternos/DTM-DOC-SGC-01 FODA.jpg" alt="ventas" class="d-block" style="width:60%">
    </main>

    
</div>